@font-face{
    font-family: "DroidSans";
    src: url("../fonts/DroidSans/DroidSans.woff")format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff")format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat-v12-latin/montserrat-v12-latin-700.woff)format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Wisdom";
    src: url(../fonts/WisdomScriptAJ/WisdomScriptAJ.woff)format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "RobotoSlab";
    src: url(../fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-regular.woff)format("woff");
    font-weight: normal;
    font-style: normal;
}
