*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

.wrapp {
    width: 900px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 50px;
}
.nav-list {
    text-align: center;
    list-style: none;
}
.nav-item {
    display: inline-block;
    margin-right:60px;
}

.nav-item:last-child { /*убитаем маржин у крайнего справа элемента*/
    margin-right: 0;
}

.nav-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #616161;
}

.header {
    margin-bottom: 40px;
}

.article-info {
    display: inline-block;
    width: 420px;           /*подровнял ширину текста под картинку*/
    margin-right: 55px;
}

.article-info:nth-of-type(2n+2) { /*убитаем маржин у каждого второго артикла*/
    margin-right: 0;
}
.photo, .small-title, .big-title {
    margin-bottom: 15px;
}

.article-info {
    margin-bottom: 60px;
}

.article-info:nth-last-child(-n+2) {/*убираем маржин у 2-х последних элементов списка*/
    margin-bottom: 0;
}

.big-title {
     font-size: 30px;
 }

.main {
    margin-bottom: 50px;
}
.footer {
      text-align: center; /* элемент button по  центру*/
  }

.click {
      padding: 14px 35px;
      font-size: 23px;
  }

.small-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
}